*{
    box-sizing: border-box;
    margin: 0px;
}


body{
    padding: 0px;
    background: #fcfcfc;
    
    h1{font-size: 10vh;}
    section#hero{
        background: linear-gradient(45deg, #ff2a6d, #fcec0c);
        height: 100vh;

        .title{
            font-size: 14vh;
            color: #05d9e8;
            text-shadow: none;
            font-family: "Apex";
        }
    }
}