*{
    box-sizing: border-box;
    margin: 0px;
}


body{
    width: 100%;
    padding: 0px;
    background: #fcec0c;
    
    h1{font-size: 10vh;}
    section#hero{
        width: 100%;
        background: #fcec0c;
        height: 100vh;

        .title{
            font-size: 14vh;
            color: #05d9e8;
            text-shadow: #005678 2px 6px;
            font-family: "Apex";
        }

        .social_wrapper{
            width: 310px;
            position: relative;
            top: 36vh;
            display: block;
            margin: auto;

            img{
                width: 50px;
                border-radius: 4px;
                box-shadow: 3px 3px 8px #acacacaa;
                transition: 300ms;
                margin: 0 6px;
                background: #fcfcfc;
                padding: 2px;

                &:hover{
                    transform: scale(1.1);
                    box-shadow: 5px 5px 8px #acacac88;
                    transition: 300ms;
                }
            }
        }
    }
    section#loader{
        height: 100vh;
        padding: 58px;

        pre{
            color: #005678;
            font-family: "Munro";
            font-size: 18px;

            .same_space{
                font-weight: bold;
                letter-spacing: 1px;
            }
        }
        
    }

}


body::-webkit-scrollbar{
    border-radius: 7px;
    display: block;
    height: 22px;
    background: #fcec0c;
}
body::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: #fcec0c;
}

@media (min-width: 640px) and (max-width: 1024px){
    body{

        section#hero{

            .social_wrapper{
                top: 25vh;
            }        
        }
    }
}

.cmd{
    position: fixed;
    bottom: 0px;
    padding-left: 40px;
    padding-bottom: 20px;
    background: #fcec0c;
}

.cmd pre{
    font-family: "Munro";
    font-size: 18px;
}