.drawer{
    width: 80%;
    padding-left: 10%;
    margin-top: 100px;
}
table{

    tr{
        height: 40px;

        td{
            min-width: 100px;
            text-align: center;
            color: transparent;

            img{
                width: 60px;
                border-radius: 50%;
                display: block;
                margin: auto;
            }
            .leaf{
                width: 48px;
                border-radius: 50%;
                display: block;
                margin: auto;
            }
            span{
                background: #fcfcec;
                box-shadow: 4px 4px 12px #aeaeae8e, -4px -4px 12px #0e0e0e;
                padding: 12px 10px;
                position: absolute;
                border-radius: 6px;
                display: none;
                transition: 300ms;
                width: 240px;
                z-index: 4;
                margin: 6px;
                text-align: left;
                color: #1e1e1e;

                strong{
                    font-size: 19px;
                }
            }

            &:hover{
                span{
                    display: block;
                    transition: 300ms;
                }
            }

            .locked{
                filter: grayscale(100%);
            }

        }
    }
}